affinity_tests_mxm/outputs/
affinity_tests_likwid-perfctr/outputs/
affinity_tests_mxm/testingZSH/
topology_tests/outputs/
topology_tests/Tracing/
topology_tests_pingpong/outputs/
samoa_claix/outputs/
samoa_claix/Tracing/
commthread_work_contribution_tests/outputs/
/.vscode
__pycache__
